:root {
  --primary-color: #FF6200;
  --header-color: #FFFFFF
  --layout-color: #f2e5de;
  --font-primary: #090D14
  --font-primary-lighter: #6A6A6A
  --font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--font-primary);
}
