:root {
  --primary-color: #FF6200;
  --primary-color-dark1:#b65113;
  --header-color: #FFFFFF;
  --layout-color: #F8F8F8;
  --font-primary: #090D14;
  --font-primary-lighter: #6A6A6A;
  --font-family: 'Lato', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--font-primary);
}